################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hello/.vs/Hello.slnx
*.user
/Hello/.vs/Hello/CopilotIndices/18.9.1311.36310
/Hello/Hello/x64/Debug
